.swiper{
    width: 100%;
    height: 34vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display:flex;
    align-items: top;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    
}

.swipe{
    min-width: 41%;
    height: 34vh;
    position:relative;
    transition: 0.5s;
    margin:0px 10px 0px 16px;
    border-radius: 10px;
    overflow: hidden;
    
    
}

#goLeft{
    position: absolute;
    top: 17vh;
    left:0;
    transform: translateY(-50%); 
    width:4%;
    height: 35vh;
    background: none;
    border: none;
    outline: none ;
    transition: 0.5s;
    }

#goRight{
    position: absolute;
    top: 17vh;
    right:0;
    transform: translateY(-50%); 
    width:4%;
    height: 35vh;
    background: none;
    border: none;
    outline: none;
    transition: 0.5s;
}

#goLeft:hover{
    background-color: rgba(0, 0, 0, 0.6) ;
}

#goRight:hover{
    background-color: rgba(0,0,0, 0.6) ;
}

.lo{
    width: 100px;
    height: 100px;
}