.swiper{
    border: 1px solid red;
    width: 100%;
    height: 40vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display:flex;
    align-items: top;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    
}

.swipe{
    border: 1px solid blue;
    min-width: 100%;
    height: 40vh;
    position:relative;
    transition: 0.5s;
    margin:0px 7px 0px 0px;
    border-radius: 10px;
    overflow: hidden;
    
    
}

#goLeft{
    position: absolute;
    top: 20vh;
    left:0;
    transform: translateY(-50%); 
    width:4%;
    height: 30vh;
    background: none;
    border: none;
    outline: none ;
    }

#goRight{
    position: absolute;
    top: 20vh;
    right:0;
    transform: translateY(-50%); 
    width:4%;
    height: 30vh;
    background: none;
    border: none;
    outline: none;
}
