@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato',sans-serif;
}

.home,
.songs,
.playlists,
.radio,
.support{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

.home{
    background-image:url('/src/images/imgHome.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    color: #fff;
    font-size: 100px;
    height: 6.62em;
}

.radio{
    background-image:url('/src/images/imgRadio.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    color: #fff;
    font-size: 100px;
    height: 6.62em;
}

.playlists{
    background-image:url('/src/images/imgPlaylists.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    color: #fff;
    font-size: 100px;
    height: 6.62em;
}

.songs{
    background-image:url('/src/images/imgSongs.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    color: #fff;
    font-size: 100px;
    height: 6.62em;
}

.support{
    background-image:url('/src/images/imgSupport.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    color: #fff;
    font-size: 100px;
    height: 6.62em;
}
