@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato',sans-serif;
}




.home{
    background-image:url('/src/images/imgHome.jpg');
    
    background-position:center;
    background-size:cover;
    color: #fff;
    font-size: 100px;
    height:100.71em;
    
    
}

.radio{
    background-image:url('/src/components/pages/RadioPage/image/Kolaj.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    font-size: 100px;
    height: auto;
    
    
}



.playlists{
    background-image:url('/src/images/imgPlaylists.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    color: #fff;
    font-size: 100px;
    height: 6.71em;
}

.songs{
    background-image:url('/src/images/imgSongs.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    color: #fff;
    font-size: 100px;
    height: 6.71em;
}

.support{
    background-image:url('/src/images/imgSupport.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    color: #fff;
    font-size: 100px;
    height: 6.71em;
}

p{
}